/*Downloaded from https://www.codeseek.co/semibran/css-tournament-bracket-VjmPJd */
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700';
html {
  font-size: 1rem;
  margin: none;
  padding: none;
}

@font-face {
  font-family: Mate-regular;
  src: url(fonts/Mate-Regular.ttf)
}

@font-face {
  font-family: Mate-italic;
  src: url(fonts/Mate-Italic.ttf)
}

body {
  background: #faf1ea;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: none;
  padding: none;
  overflow: hidden;
}

#c {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.navigation {
  position: fixed;
  width: 2%;
  height: 10%;
  background-color: transparent;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 3;
  right: 2%;
}

.nav-dot {
  transition: 0.1s all;
  margin: 15% 0;
  position: relative;
  width: auto;
  height: 40%;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(70, 70, 70);
  background-color: rgba(255, 255, 255, 0.233);
  text-align: center;
  line-height: 220%;
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -moz-text-size-adjust:none;
  text-size-adjust:none;
}

.nav-dot:hover {
  background-color: rgba(255, 255, 255, 0.418);
}

.nav-dot.active {
  background-color: #fff;
}

.centered {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.text-top {
  transition: 0.2s all;
  position: absolute;
  width: 40%;
  height: 1%;
  top: -65%;
  font-size: 80px;
  background-color: rgba(255, 255, 255, 0);
  transform: translateZ(100px)
}

.text-bottom {
  transition: 0.2s all;
  position: absolute;
  width: 40%;
  height: 1%;
  bottom: 5%;
  font-size: 110px;
  background-color: rgba(255, 255, 255, 0.0);
  transform: translateZ(100px)
}

.shield_logo {
  transition: 0.2s all;
  position: absolute;
  width: 20%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0);
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.shield_logo:hover img {
  filter:saturate(1) !important
}

.shield_logo:hover {
  transform: scale(1.2);
}

.shield_logo:hover .flares {
  transform: scale(2);
}

.shield_logo:hover .shield {
  transform: scale(0.8);
}

.shield_logo:hover .backcircle {
  transform: scale(0.1);
}

.shield_logo:hover .text-top{
  /* top: -120%; */
  top: -10%;
  left: -150%;
  font-size: 50px;
  transform: rotate(10deg);
}

.shield_logo:hover .text-bottom{
  /* bottom: -120%; */
  font-size: 50px;
  top: -10%;
  right: -160%;
  transform: rotate(10deg);
}

.backcircle {
  transition: 0.1s all;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.03);
  transform: scale(1.5);
}

.shield {
  transition: 0.2s all;
  position: absolute;
  width: 80%;
  height: 80%;
  transform: scale(0.0)
}

#shield_1 {
  position: absolute;
  width: 100%;
  height: 100%;
}

#shield_2 {
  position: absolute;
  width: 78%;
  height: 75%;
  top: 15%;
  filter: saturate(0.4)
}

.info {
  position: absolute;
  width: 30%;
  height: 30%;
  top: -20%;
  left: -25%;
  background-color: rgba(255, 255, 255, 0.0);
}

.flares {
  transition: 0.2s all;
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.0);
  z-index: 0;
  transform: scale(0)
}

.flares img {
  position: absolute;
  width: 100%;
  height: auto;
}

@keyframes flarerotation {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes counterflarerotation {
  100% {
    transform: rotate(-360deg)
  }
}

:root {
  --color-bg: #30165e;
  --color-bg2: #534d7a;
  --color-highlight: #FFF;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.goo {
  font-size: 3rem;
  line-height: 1.5;
  display: inline;
  background: var(--color-highlight);
  padding: 0.5rem 1rem;
  filter: url('#goo');
}

.info p {
  font-size: large;
  color: white;
}

.info h1 {
  font-size: small;
  color: white;
}

.goo:focus {
  outline: 0;
}

.edit {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--color-bg2);
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--color-highlight);
  border-radius: 1em;
}

body {
  padding: 7.5vh 100px 0 100px;
  font-family: var(--font);
  background: var(--color-bg);
}

.socials {
  position: absolute;
  width: 15%;
  text-align: right;
  height: 7%;
  background-color: rgba(255, 255, 255, 0);
  bottom: 1%;
  right: 1%;
  z-index: 2;
}

.social {
  transition: 0.2s all;
  position: relative;
  display: inline-block;
  width: 10%;
  margin: 0 5px;
  border-radius: 50%;
  line-height: 16px;
  cursor: pointer;
  color: white;
}

.social:hover {
  transform: scale(1.2);
}

.discord {
  background-color: #5865F2;
  padding: 10px 12px;
}

.twitch {
  background-color: #9146FF;
  padding: 13px 11px 8px 11px;
}

.youtube {
  background-color: #FF0000;
  padding: 12px 11px 9px 11px;
}

.discord-link {
  background-color: #45267A;
  color: white;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 5px;
  font-weight: 400;
}

.twitch-link {
  background-color: #45267A;
  color: white;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 5px;
  font-weight: 400;
}