.triangle {
    transition: 0.2s all;
    position: absolute;
    color:#FD1650;
    filter: url('#goo');
    z-index: 2;
  }
  
  .shadow {
      /* color: #2C2127; */
      color: #44267a;
  }
  
  .triangle::before {
    content: "";
    display: block;
    padding-top: 86%;
    background: currentColor;
    clip-path: polygon(92% 37%, 17% 92%, 6% 8%);
  }
  
  .triangle.type2::before {
    padding-top: 70%;
    clip-path: polygon(100% 47%, 23% 64%, 0% 0%);
  }
  
  .triangle.type3::before {
    padding-top: 100%;
    clip-path: polygon(77% 5%, 97% 97%, 0% 1%);
  }
  
  .triangle.type4::before {
      padding-top: 100%;
      clip-path: polygon(99% 16%, 17% 92%, 6% 8%);
  }
  
  .triangle.active {
      transition: 0.1s all;
      top: -50% !important;
      left: -20% !important;
      width: 180% !important;
  }
  
  .triangle .info {
      opacity: 0;
  }
  
  .triangle.active .info {
    opacity: 1;
}
  
  #t1 {
      top: 40%;
      left: 10%;
      width: 10%;
      overflow: hidden;
  }
  
  #t2 {
      top: 5%;
      left: 30%;
      width: 100px;
  }
  
  #t3 {
      top: 80%;
      left: 20%;
      width: 120px;
  }
  
  #t4 {
      top: 20%;
      right: 40%;
      width: 50px;
  }
  
  #t5 {
      top: 15%;
      right: 10%;
      width: 100px;
  }
  
  #t6 {
      top: 70%;
      right: 20%;
      width: 130px;
  }
  
  #t7 {
      top: 90%;
      right: 50%;
      width: 60px;
  }
  
  #t8 {
      width: 1%;
      top: 50%;
      right: 50%;
  }
  
  #t1s {
      top: 41%;
      left: 11%;
      width: 10%;
  }
  
  #t2s {
      top: 6%;
      left: 30.5%;
      width: 100px;
  }
  
  #t3s {
      top: 81%;
      left: 20.5%;
      width: 120px;
  }
  
  #t4s {
      top: 21%;
      right: 39.8%;
      width: 50px;
  }
  
  #t5s {
      top: 16%;
      right: 10%;
      width: 100px;
  }
  
  #t6s {
      top: 71%;
      right: 19.5%;
      width: 130px;
  }
  
  #t7s {
      top: 90.5%;
      right: 49.5%;
      width: 60px;
  }